body {
      /* 
    The body has a gradient color background from peru to rosybrown.
    It uses flexbox to center the content vertically and horizontally, 
    ensuring the calendar stays in the middle of the screen.
    The height is set to 100vh, 
    while margin is removed to avoid any spacing issues.
    */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right, peru, rosybrown);
    margin: 0;
}

.calendar {
    /* 
    The calendar container is 400px wide with a maroon border with rounding borders.
    It has a white background to create contrast with the text, 
    and the box-shadow gives a 3D effect.
    The 'overflow: hidden' ensures that no content spills out of the rounded corners.
    */
    width: 400px;
    border: 1px solid maroon;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    /* 
    The header has a (#a28465) background and white text.
    Text is centered horizontally, and padding creates space around the content.
    */
    background-color:#a28465;
    color: white;
    text-align: center;
    padding: 15px;
}

.header h1 {
    /* 
    header title is large, with a font-size of 2em.
    */
    font-size: 2em; 
}


.days, .dates {
     /* 
    These sections use CSS grid layout to arrange the days of the week and dates.
    This grid ensures that all days and dates are evenly spaced.
    */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    /* 
    Each day name has padding and centered text.
    The background (#ad9176) color, with bold white text.
    The font size is increased to 1.2em, making the day names more noticeable.
    */
    padding: 15px;
    text-align: center;
    background-color: #ad9176;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.date {
    /* 
    Each date cell is padded for better clicking, with centered text.
    It has a thin maroon border, which separates the dates clearly.
    The font size is 1.1em, slightly smaller than the day names, ensuring the dates not overpower the layout.
    */
    padding: 15px;
    text-align: center;
    border: 1px solid maroon;
    font-size: 1.1em;
}

.today {
    background-color: #b7ceed;
    color: maroon;
    font-weight: bold;
}


