@keyframes gradientWave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    background: linear-gradient(90deg, peru, rosybrown);
    background-size: 200% 200%; 
    animation: gradientWave 5s ease infinite; 
    height: 100vh;
    margin: 0;
    color: black;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    color: rgb(78, 78, 1);
  }
  
  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f9fa;
  }
  
  input[type="submit"] {
    background-color: peru;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.5s ease;
  }
  
  input[type="submit"]:hover {
    background-color: rosybrown;
  }
  
  a {
    color: black;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  
  a:hover {
    color: blue;
  }
  
  .navbar {
    background-color: peru !important;
  }
  
  .navbar-brand,
  .nav-link {
    color: white !important;
  }
  
  h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
  }
  