body {
    /* 
    Sets a gradient background from "peru" to "rosybrown".
    Uses Flexbox to center content horizontally and vertically.
    All content inside the body will be placed on the center.
    */
    background: linear-gradient(to bottom, peru, rosybrown);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

.container {
    /* 
    The container is a flexbox, laid out in a column with centered alignment.
    It contains white background, padding for space around the content, 
    and rounded corners with a light shadow for visual effect.
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    /* 
    The main head is styled with a large font size and a small bottom margin for spacing.
    It has a absolute position , 75px from the top of the page.
    */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin-bottom: 20px;
    position: absolute; 
    top: 75px;
}

form {
     /* 
    The form takes up the full width of the container, but not more than 400px.
    */
    width: 100%;
    max-width: 400px;
}

label {
     /* 
    Styling for form labels, increasing font size to 18px for bettter readability.
    */
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    /* 
    Styles for text and password inputs.
    They are full-width, with padding for spacing, and borders with rounded corners.
    The box-sizing property ensures padding doesn't add extra width.
    */
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
     /* 
    The submit button is styled with peru background color and white text.
    It’s full-width with padding and rounded corners, and has no border.
    */
    background-color: peru;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

input[type="submit"]:hover {
    /* 
    Changes the background color of the submit button to rosybrown when hovered.
    */
    background-color: rosybrown;
}

a {
    /* 
    The anchor link is styled with black color.
    It’s positioned 180px from the bottom of the page, and its font size is 18px.
    */
    display: block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    bottom: 180px;
}

a:hover {
    /* 
    Changes the color of the link to blue when it's hovered.
    */
    color: blue;
}
